{% extends 'base.html.twig' %}

{% block title %}业务咨询 - {{ parent() }}{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="page-header">
        <div class="container">
            <div class="row page-section">
                <div class="col-md-8">
                    <h4>Feedback</h4>
                    <h1>业务咨询</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Get A Quote Section -->
    <section id="get-a-quote" class="get-a-quote section">

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-5 quote-bg" style="background-image: url(/assets/img/quote-bg.jpg);"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <form action="{{ path('app_feedback_new') }}" method="post" class="php-email-form">
              <h3>业务咨询</h3>
              <p>无论何时何地，客户遇到任何问题，我们的专业团队都会迅速响应，全力解决，保障医院风险管理系统的稳定运行。</p>

              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="province" class="form-control" placeholder="省份" required="">
                </div>

                <div class="col-md-6">
                  <input type="text" name="city" class="form-control" placeholder="城市" required="">
                </div>

                <div class="col-md-6">
                  <input type="text" name="product" class="form-control" placeholder="产品类型" required="">
                </div>

                <div class="col-md-6">
                  <input type="text" name="title" class="form-control" placeholder="咨询内容" required="">
                </div>

                <div class="col-lg-12">
                  <h4>您的信息</h4>
                </div>

                <div class="col-12">
                  <input type="text" name="name" class="form-control" placeholder="姓名" required="">
                </div>

                <div class="col-12 ">
                  <input type="email" class="form-control" name="email" placeholder="邮箱" required="">
                </div>

                <div class="col-12">
                  <input type="text" class="form-control" name="phone" placeholder="电话" required="">
                </div>

                <div class="col-12">
                  <textarea class="form-control" name="body" rows="6" placeholder="详情" required=""></textarea>
                </div>

                <input type="text" class="form-control d-none" name="type" value="1">
                <div class="col-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">您的信息已提交。感谢您的关注与支持!</div>

                  <button type="submit">提交</button>
                </div>

              </div>
            </form>
          </div><!-- End Quote Form -->

        </div>

      </div>

    </section><!-- /Get A Quote Section -->


{% endblock %}

{% block javascript %}
{% endblock %}
